#task29 {
    width: 100px;
    border: 5px solid black;
}

#task30 {
    width: 100px;
    border: 5px solid black;
}

#task31 {
    width: 100px;
    border: 5px solid black;
}

#task32 {
    width: 100px;
    border: 5px solid black;
}

#task33 {
    width: 100px;
    border: 5px solid black;
}

#task34 {
    width: 100px;
    border: 5px solid black;
}

#task35 {
    width: 100px;
    border: 5px solid black;
}

#task36 {
    width: 100px;
    border: 5px solid black;
}

#task37 {
    width: 100px;
    border: 5px solid black;
}

#task38 {
    width: 100px;
    height: 100px;
    border: 5px solid black;
    overflow-y: scroll;
    overflow-x: scroll;
}

#task39 {
    width: 50px;
    height: 100px;
    border: 5px solid black;
    overflow-y: scroll;
    overflow-x: scroll;
}

#task40 {
    width: 100px;
    height: 100px;
    border: 5px solid black;
    overflow-y: scroll;
    overflow-x: scroll;
}

#task41 {
    width: 50px;
    height: 100px;
    border: 5px solid black;
    overflow-y: scroll;
    overflow-x: scroll;
}

#task49 {
    width: 100px;
    height: 100px;
    border: 5px solid black;
}